:root {
   /* Primary colors */
   --primary-color: #868CD1;
 
   --primary-dark: #2980b9;
   --primary-light: #E5E7FF;
   --primary-light-2: #ECEDFF;
 
   /* Secondary colors */
   --secondary-color: #2ecc71;
   --secondary-dark: #27ae60;
   --secondary-light: #58d68d;
 
   /* Text colors */
   --text-primary: #FFFFFF;
   --text-secondary:#292C30;
   ;
 }


.primary-color {
   
}

.html {
   font-family: Poppins;

}
.v-btn {
   text-transform: none !important;
}

.custom-select {
   position: relative;
   width: 200px;
   cursor: pointer;
 }
 
 .selected-option {
   padding: 8px;
   font-size: 16px;

   border-radius: 4px;
   box-shadow: none;
   outline: none;
 }
 
 .dropdown-arrow {
   position: absolute;
   top: 50%;
   right: 8px;
   transform: translateY(-50%);
   transition: transform 0.3s ease;
 }
 
 .dropdown-arrow.rotated {
   transform: translateY(-50%) rotate(180deg);
 }
 
 .options {
   height: 300px;
 
   z-index: 5;
   left: 0;
   width: 100%;
   border: 1px solid #ccc;
   border-top: none;
   border-radius: 0 0 4px 4px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   background-color: #fff;
   overflow: hidden;
 }
 
 /* .custom-select:hover .options {
   display: block;
 } */
 
 .options .option {
   padding: 8px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .note-text {
   font-family: Poppins;
font-size: 0.875rem;
font-weight: 600;
line-height: 1.125;
letter-spacing: 0em;
text-align: center;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
opacity: 0.6;

 }
 .not-disable.v-chip--disabled {
   opacity: 1 !important;
}
 .options .option:hover {
   background-color: #f5f5f5;
 }
.card-headder {
   font-family: Poppins;
font-size: 1.125remx;
font-weight: 600;
line-height: 1.5rem;
letter-spacing: -0.25px;
text-align: left;

}
.w-fit {
   width: fit-content;
}
.custom-btn {
   display: inline-block;
   padding: 0.625rem 1.25rem;
   background-color: var(--primary-light); /* primary color */
   color: black !important; /* text color */
   border: none;
   border-radius: 0.625rem;
   cursor: pointer;
   font-size: 0.875rem;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   transition: background-color 0.3s;
 }

 /* Button Hover Effect */
 .custom-btn:hover {
   opacity: 0.9;/* darker shade on hover */
 }

.card-sub-text {

font-size: 0.875rem;
font-weight: 500;
line-height: 1.313;
letter-spacing: 0px;
text-align: left;
}
.active-text {
   color: #396CE8;
   font-family: Poppins;
font-size: 0.625rem;
font-weight: 500;
line-height: 0.938rem;
letter-spacing: -0.25px;
text-align: left;


}
.outline-border { 
      background-color: white;
      border: 1px solid #C0C5FC !important;  
    
}
.scroll-y {
   overflow-y: scroll;
}
.scroll-y::-webkit-scrollbar {

   overflow-y: scroll;
   scrollbar-width: thin;
 }
 .scroll-x {
   overflow-x: scroll;
   width: 100%; /* Set the width of your container */
  overflow-x: scroll; /* Add horizontal scroll */
  white-space: nowrap;
}
.scroll-x::-webkit-scrollbar {

   overflow-y: scroll;
   scrollbar-width: thin;
 }
.logoImg {
   width:7.813rem;
   height: 7.813rem;
}
.w-100 {
   width: 100%;
   
}
.rounded-5 {
   border-radius: 0.313 !important;
}
.rounded-20 {
   border-radius: 1.25rem !important;
}
.rounded-10 {
   border-radius: 0.625rem !important;
}
.w-60 {
   width: 60%;
}
.custom-no-elevation .v-input__slot {
   box-shadow: none !important;
 }
.m-fav-height {
   height: 50px !important;
   width: 50px !important;
}
.cursor {
   cursor: pointer;
}
.profile-pic {
   width: 6.25rem;
}
.profileInfo {
   width: calc(100% - 6.25rem);
}

.btn-text {

font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.25px;
text-align: center;

}




.main-card {
   width: 100%;
   background-color: var(--primary-light);
   height: fit-content;
 
}

.left-nav {
   width: 21.875rem;
   height: fit-content;
   background-color: white;
}
.right-side {
   width: calc(100% - 21.875rem);
   height: fit-content
  
}
.card-profile-image {
   width: 5rem;
}
.footer {
   background-color: var(--primary-light-2) !important;
}
.w-20 {
   width: 20%;
}
.main-section {
   width: calc(100% - 26.688rem);
   height: 100%;

}

.d-flex-none {
   display: unset !important;
 }
 .title-elipsis {

   white-space: nowrap;
   width: calc(100%);
   overflow: hidden;
   text-overflow: ellipsis;
 }
.righNav {
   width: 26.688rem;
   height: fit-content;

}
.main-right {
   width: 100%;
   height: 100%;

}
.TherapistCardView {
   width: 100%;
   height: calc(100% - 0px);

   
}
.subunit-cards {
   width: 100%;
   display: grid;
   grid-column-gap: 10px;
   grid-row-gap: 10px;
 /* grid-template-columns: auto auto auto; */
 grid-template-columns: repeat(6, fr); 
   overflow-y: scroll;
 }
.TherapistCard {
   width: 100%;
 
   height: fit-content;
   min-height: fit-content;
   background-color: white;
   max-height: fit-content;  
   
}
@media only screen and (max-width: 1000px) {
   /* Styles for screens smaller than 1000 pixels */
 }
 
 /* Responsive layout for screens between 601 and 900 pixels */
 @media only screen and (min-width: 1000) and (max-width: 1200px) {
   /* Styles for screens between  and 900 pixels */
 }
 @media only screen and (min-width: 1200px) and (max-width: 1800px) {

   .subunit-cards {
      width: 100%;
      display: grid;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(1, 1fr); 
      overflow-y: scroll;
    }
   
   .left-nav {   
      width: 18rem;
      height: fit-content;
      background-color: white;
   }

   .right-side {
      width: calc(100% - 18rem);
      height: fit-content
     
   }
   .main-section {
      width: calc(100% - 22rem);
      height: 100%;
  
   }
   .righNav {
      width: 22rem;
      height: fit-content;
   }
   
   .main-right {
      width: 100%;
      height: 100%;
  
   }
   .TherapistCard {
      width: 100%;

      min-height: fit-content;
      background-color: white;
      max-height: fit-content;
   }

   /* Styles for screens between  and 900 pixels */
 }
 /* Responsive layout for screens larger than 901 pixels */
 @media only screen and (min-width: 1800) {
   /* Styles for screens larger than 901 pixels */
 }